@import url(styles/header.css);

:root{
    --cor-de-fundo: #f5e6f0;
    --branco: #fdfdfd;
    --fonte-principal:"Poppins";
    --amarelo: #f7b80d;
    --roxo: #C75EEB;
    --preto: #000000;
    --fonte-principal: "Poppins";
    --fonte-secundaria:"Josefin Sans";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
