.cabecalho{
    display: flex;
    justify-content: space-between;
}
.conteiner{
    display: flex;
    justify-content: space-between;
}
.cabecalho-menu{
    display: inline-block;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}
.conteiner-imagem{
    padding: 1em;
}